<label class="required" name="host">{{t "data_sources.dialog.host"}}</label>
<label class="required" class="port" name="port">{{t "data_sources.dialog.port"}}</label>
<input type="text" name="host" value="{{host}}" tabindex="1"/>
<input type="text" class="port" name="port" value="{{port}}" tabindex="1"/>
<label class="required" name="dbName">{{t "data_sources.dialog.database_name"}}</label>
<input type="text" name="dbName" value="{{dbName}}" tabindex="1"/>