<ul>
  <li>
    <a href="#/">
      <div class="knob"><span class="fa fa-home" alt='{{t "header.home"}}'></span></div>
      <div>{{t "header.home"}}</div>
    </a>
  </li>
  <li>
    <a href="#/workspaces">
      <div class="knob"><span class="fa fa-briefcase" alt="Workspaces"></span></div>
      <div>{{t "header.workspaces"}}</div>
    </a>
  </li>
  <li>
    <a href="#/data_sources">
      <div class="knob"><span class="fa fa-database"></span></div>
      <div>{{t "header.data_sources"}}</div>
    </a>
  </li>
  <li>
    <a href="#/users">
      <div class="knob"><span class="fa fa-users"></span></div>
      <div>{{t "header.users"}}</div>
    </a>
  </li>
  <li>
    <a href="#/tags">
      <div class="knob"><span class="fa fa-tags"></span></div>
      <div>{{t "header.tags"}}</div>
    </a>
  </li>
  
  <div class="knob remainder" ></div>
</ul>