<ul>
  <li>
    <a href="#/">
      <div class="knob"><i class='oi' data-glyph="home"></i></div>
      <div>{{t "header.home"}}</div>
    </a>
  </li>
  <li>
    <a href="#/workspaces">
      <div class="knob"><i class='oi' style="font-size: 14px;" data-glyph="briefcase"></i></div>
      <div>{{t "header.workspaces"}}</div>
    </a>
  </li>
  <li>
    <a href="#/data_sources">
      <div class="knob"><i class='oi' style="font-size: 18px;" data-glyph="data-source"></i></div>
      <div>{{t "header.data_sources"}}</div>
    </a>
  </li>
  <li>
    <a href="#/users">
      <div class="knob"><i class='oi' data-glyph="people"></i></div>
      <div>{{t "header.users"}}</div>
    </a>
  </li>
  <li>
    <a href="#/tags">
      <div class="knob"><i class='oi' style="font-size: 20px;" data-glyph="tags"></i></div>
      <div>{{t "header.tags"}}</div>
    </a>
  </li>
  
  <div class="knob remainder" ></div>
</ul>