<ul>
  <li class='underline'>
    <a href="{{userUrl}}">
      <div>{{t "header.your_profile"}}</div>
    </a>
  </li>
  <li>
    <a href="{{t helpLinkUrl}}" target='_blank' class='helpLink'>
      <div>{{t "help.link"}}</div>
    </a>
  </li>
  <li class='underline'>
    <a href="#/about">
      <div>{{t "header.about"}}</div>
    </a>
  </li>
  <li>
    <a href='#/logout'>
      <div>{{t "header.sign_out"}}</div>
    </a>
  </li>
</ul>