<div id="header"></div>
<div id="breadcrumbs"></div>

<div class="about_box">
    <h1 class="title">{{t applicationKey}}</h1>
    <div class="content">
        <ul class="list_vertical_divided items">
            {{#each items}}
                <li class="{{key}}">
                    <strong>{{t translationKey}}:</strong> {{value}}
                </li>
            {{/each}}
            <li>
                <strong>{{t "login.version"}}: </strong><span class="version"></span>
            </li>
        </ul>
    </div>
</div>
