<div class="menus">
    <span class="title">{{t "filter.show"}}</span>
    <a href="#" class="all {{#unless showInsights}}active{{/unless}}">{{t "filter.all_activity"}}</a>
    <span class="separator">|</span>
    <a href="#" class="insights {{#if showInsights}}active{{/if}}">{{t "filter.only_insights"}}</a>

    <div class="badge">
        <div class="left"/><div class="center">{{ insightCount }}</div><div class="right"/>
    </div>
</div>

<div class="title">
    {{#if iconUrl}}
        <img src="{{iconUrl}}"/>
    {{/if}}
    <div class="right_of_image">
        <h1 title="{{title}}">{{title}}</h1>
        {{#if tagBox}}
             <div class="tag_box"></div>
        {{/if}}
    </div>
</div>
