<form action="#">
    <div class="girdle">
        <label for="data_sources">{{t "datasource.type"}}</label><br/>
        <select class="data_sources" id="data_sources">
            <option selected name="select_one" value="">{{t "selectbox.select_one"}}</option>
            <option name="register_existing_greenplum" value="register_existing_greenplum">{{t "datasource.greenplum"}}</option>
            <option name="register_existing_postgres" value="register_existing_postgres">{{t "datasource.postgres"}}</option>
            {{#if oracleConfigured}}<option name="register_existing_oracle" value="register_existing_oracle">{{t "datasource.oracle"}}</option>{{/if}}
            <option name="register_existing_hdfs" value="register_existing_hdfs">{{t "datasource.hdfs"}}</option>
            <option name="register_existing_greenplum" value="register_existing_hawq" hawq="true">{{t "datasource.hawq"}}</option>
            <option name="register_existing_jdbc" value="register_existing_jdbc">{{t "datasource.jdbc"}}</option>
            {{#if gnipConfigured}}<option name="register_existing_gnip" value="register_existing_gnip">{{t "datasource.gnip"}}</option>{{/if}}
        </select>

        <div class="data_sources_form collapsed register_existing_greenplum">
            {{formInfoBlock "data_sources.new_dialog.register_existing_greenplum_help_text"}}
            
            <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
            <input type="text" name="name" maxlength="64" tabindex="1"/>

            <label>{{t "data_sources.dialog.description"}}</label>
            <textarea rows="3" name="description" tabindex="1"/>

            {{dbDataSourceFields defaultGpdbFields}}

            <label class="required db_username" name="dbUsername">{{t "data_sources.dialog.database_account"}}</label>
            <label class="required db_password" name="dbPassword">{{t "data_sources.dialog.database_password"}}</label>
            <input class="db_username" type="text" name="dbUsername" maxlength="256" tabindex="1"/>
            <input class="db_password" type="password" name="dbPassword" maxlength="256" accept="" autocomplete="off" tabindex="1"/>

            <input type="checkbox" name="shared" id="register_greenplum_shared" tabindex="1"/>
            <label for="register_greenplum_shared">{{t "data_sources.dialog.is_community_account"}}
                <span class="fa fa-question-circle help" data-text='{{t "data_sources.new_dialog.is_community_account.help_text"}}'></span>
            </label>

            <div>
                <label>
                    <input type="checkbox" name="ssl" tabindex="1"/>
                    {{t "data_sources.dialog.use_ssl"}}
                </label>
            </div>
        </div>

        <div class="data_sources_form collapsed register_existing_postgres">
            {{formInfoBlock "data_sources.new_dialog.register_existing_postgres_help_text"}}
                        
            <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
            <input type="text" name="name" maxlength="64" tabindex="1"/>

            <label>{{t "data_sources.dialog.description"}}</label>
            <textarea rows="3" name="description" tabindex="1"/>

            {{dbDataSourceFields defaultGpdbFields}}

            <label class="required db_username" name="dbUsername">{{t "data_sources.dialog.database_account"}}</label>
            <label class="required db_password" name="dbPassword">{{t "data_sources.dialog.database_password"}}</label>
            <input class="db_username" type="text" name="dbUsername" maxlength="256" tabindex="1"/>
            <input class="db_password" type="password" name="dbPassword" maxlength="256" accept="" autocomplete="off"
                   tabindex="1"/>

            <input type="checkbox" name="shared" id="register_greenplum_shared" tabindex="1"/>
            <label for="register_greenplum_shared">{{t "data_sources.dialog.is_community_account"}}
                <span class="fa fa-question-circle help" data-text='{{t "data_sources.new_dialog.is_community_account.help_text"}}'></span>
            </label>

            <div>
                <label>
                    <input type="checkbox" name="ssl" tabindex="1"/>
                    {{t "data_sources.dialog.use_ssl"}}
                </label>
            </div>
        </div>

        <div class="data_sources_form collapsed register_existing_oracle">
            {{formInfoBlock "data_sources.new_dialog.register_existing_oracle_help_text"}}
            <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
            <input type="text" name="name" maxlength="64" tabindex="1"/>

            <label>{{t "data_sources.dialog.description"}}</label>
            <textarea rows="3" name="description" tabindex="1"/>

            {{dbDataSourceFields}}

            <label class="required db_username" name="dbUsername">{{t "data_sources.dialog.database_account"}}</label>
            <label class="required db_password" name="dbPassword">{{t "data_sources.dialog.database_password"}}</label>
            <input class="db_username" type="text" name="dbUsername" maxlength="256" tabindex="1"/>
            <input class="db_password" type="password" name="dbPassword" maxlength="256" autocomplete="off" tabindex="1"/>

            <input type="checkbox" name="shared" id="register_oracle_shared" tabindex="1"/>
            <label for="register_oracle_shared">{{t "data_sources.dialog.is_community_account"}}
            	<span class="fa fa-question-circle help" data-text='{{t "data_sources.new_dialog.is_community_account.help_text"}}'></span>
            </label>
        </div>

        <div class="data_sources_form collapsed register_existing_jdbc">
            {{formInfoBlock "data_sources.new_dialog.register_existing_jdbc_help_text"}}

            <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
            <input type="text" name="name" maxlength="64" tabindex="1"/>

            <label>{{t "data_sources.dialog.description"}}</label>
            <textarea rows="3" name="description" tabindex="1"/>

            {{jdbcDataSourceFields}}

            <label class="required db_username" name="dbUsername">{{t "data_sources.dialog.database_account"}}</label>
            <label class="required db_password" name="dbPassword">{{t "data_sources.dialog.database_password"}}</label>
            <input class="db_username" type="text" name="dbUsername" maxlength="256" tabindex="1"/>
            <input class="db_password" type="password" name="dbPassword" maxlength="256" accept="" autocomplete="off" tabindex="1"/>

            <input type="checkbox" name="shared" id="register_jdbc_shared" tabindex="1"/>
            <label for="register_jdbc_shared">{{t "data_sources.dialog.is_community_account"}}
            	<span class="fa fa-question-circle help" data-text='{{t "data_sources.new_dialog.is_community_account.help_text"}}'></span>
            </label>
        </div>

        <div class="data_sources_form collapsed register_existing_hdfs">
            {{formInfoBlock "data_sources.new_dialog.register_existing_hdfs_help_text"}}

            <input class="hidden" type="checkbox" name="shared" checked="checked" tabindex="1"/>

            <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
            <input type="text" name="name" maxlength="64" tabindex="1"/>

            {{hdfsVersionsSelect}}

            <label>{{t "data_sources.dialog.description"}}</label>
            <textarea rows="3" name="description" tabindex="1"></textarea>

            {{hdfsDataSourceFields this}}
        </div>

        {{#if gnipConfigured}}
            <div class="data_sources_form collapsed register_existing_gnip">
                {{formInfoBlock "data_sources.new_dialog.register_existing_gnip_help_text"}}
    
                <label class="required">{{t "data_sources.dialog.gnip_data_source_name"}}</label>
                <input type="text" name="name" maxlength="64" tabindex="1"/>

                <label>{{t "data_sources.dialog.description"}}</label>
                <textarea rows="3" name="description" tabindex="1"/>

                <label class="required gnip_host" name="host">
                    {{t "data_sources.dialog.gnip_url"}}
                    <span class="fa fa-question-circle help" data-text='{{t "data_sources.dialog.gnip_help_text"}}'></span>
                </label>
                <input class="gnip_host" type="text" name="streamUrl" tabindex="1"/>

                <label class="gnip_username required" name="username">{{t "data_sources.dialog.gnip_username"}}</label>
                <label class="gnip_password required" name="password">{{t "data_sources.dialog.gnip_password"}}</label>
                <input class="gnip_username" type="text" name="username" maxlength="255" tabindex="1"/>
                <input class="gnip_password" type="password" name="password" maxlength="255" autocomplete="off" tabindex="1"/>
            </div>
        {{/if}}

        {{> legendRequired}}
        
    </div>
    <!-- END girdle -->
    
    <div class="form_controls">
        <button type="submit" class="submit modalish" tabindex="99" disabled="disabled">{{t "data_sources.new_dialog.save"}}</button>
        <button type="button" class="cancel modalish" tabindex="100">{{t "actions.cancel"}}</button>
    </div>
</form>
