{{#ifAll hasCredentials viewable}}
    <a class="image" href="{{url}}">
        {{#if stale}} <img class='stale_dataset_icon' src="/images/invalid_dataset_icon.png"/> {{/if}}
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </a>
{{else}}
    <span class="image">
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </span>
{{/ifAll}}

{{> listItemText}}