<button class="add_data_source">{{t "instances.add.title"}}</button>
{{> multipleSelectionHeader}}
{{#if loaded}}
    <div class="count">
        <span class="number">{{count}}</span> {{pluralize count "instances.title"}}
    </div>
{{else}}
    <div class="loading_section">{{t "loading"}}</div>
{{/if}}
