<span class="spacer_left"></span>

<input type="checkbox"/>

{{#ifAll hasCredentials viewable}}
    <a class="image" href="{{url}}">
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </a>
{{else}}
    <span class="image">
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </span>
{{/ifAll}}

{{> listItemText}}

<span class="spacer_right"></span>
