<form>
    <label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
    <input type="text" name="name" maxlength="64" value="{{name}}" tabindex="1"/>

    <label>{{t "data_sources.dialog.description"}}</label>
    <textarea name="description" maxlength="4095" rows="6" tabindex="2">{{description}}</textarea>
    <input type="hidden" name="provisionType" value="{{provisionType}}"/>
    {{#if gpdbOrOracleDataSource}}
        <label class="required" name="host">{{t "data_sources.dialog.host"}}</label>
        <label class="required" class="port" name="port">{{t "data_sources.dialog.port"}}</label>
        <input type="text" name="host" value="{{host}}" tabindex="1"/>
        <input type="text" class="port" name="port" value="{{port}}" tabindex="1"/>
        <label class="required" name="dbName">{{t "data_sources.dialog.database_name"}}</label>
        <input type="text" name="dbName" value="{{dbName}}" tabindex="1"/>
    {{/if}}

    {{#if hdfsDataSource}}
        <label name="host" class="required">{{t "data_sources.dialog.host"}}</label>
        <label name="port" class="port required">{{t "data_sources.dialog.port"}}</label>
        <input type="text" name="host" value="{{host}}" tabindex="1"/>
        <input type="text" class="port" name="port" value="{{port}}" tabindex="1"/>

        <label class="username required" name="username">{{t "data_sources.dialog.hadoop_account"}}</label>
        <label class="group_list required" name="groupList">{{t "data_sources.dialog.hadoop_group_list"}}</label>
        <input class="username" type="text" name="username"   value="{{username}}" maxlength="255"/>
        <input class="group_list" type="text" name="groupList" value="{{groupList}}" maxlength="255"/>
    {{/if}}

    {{#if gnipDataSource}}
        <label class="gnip_host required" name="streamUrl">
            {{t "data_sources.dialog.gnip_url"}}
            <img src="/images/more-info.png" class="help" data-text='{{t "data_sources.dialog.gnip_help_text"}}'/>
        </label>
        <input class="gnip_host" type="text" name="streamUrl" value="{{streamUrl}}" maxlength="255"/>

        <label class="gnip_username required" name="username">{{t "data_sources.dialog.gnip_username"}}</label>
        <label class="gnip_password" name="password">{{t "data_sources.dialog.gnip_password"}}</label>

        <input class="gnip_username" type="text" name="username"   value="{{username}}" maxlength="255"/>
        <input class="gnip_password" type="password" name="password"   value="" maxlength="255" autocomplete="off"/>
    {{/if}}

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "data_sources.edit_dialog.save"}}</button>
    </div>
</form>


