{{> multipleSelectionHeader}}
<button class="add_data_source">{{t "data_sources.add.title"}}</button>
{{#if loaded}}
    <div class="count">
        <span class="number">{{count}}</span> {{pluralize count "data_sources.title"}}
    </div>
{{else}}
    <div class="loading_section">{{t "loading"}}</div>
{{/if}}
