{{#if objectName}}
    <div class="info">
        <div title="{{objectName}}" class="name">{{objectName}}</div>
        <div class="details">{{typeString}}</div>
    </div>
    
    <div class="last_import low_light">
        {{#if importFailed}}
            <div class="icon">
                <img src="/images/message_error_small.png" />
            </div>
        {{/if}}

        {{#if importInProgress}}
            <div class="icon">
                <img src="/images/in_progress.png" />
            </div>
            <div class="import_in_progress right">
                {{inProgressText}}
            </div>
        {{/if}}
        <div class="last_import_text {{#if importInProgress}}right{{/if}}">
            {{lastImport}}
        </div>
    </div>

    {{#if noCredentials}}
        <div class="notice no_credentials"><span class="bottom">{{noCredentialsWarning}}</span></div>
    {{else}}
        {{#if invalidCredentials}}
            <div class="notice invalid_credentials"><span class="bottom">{{{invalidCredentialsMsg}}}</span></div>
        {{/if}}
    {{/if}}

    <div class="next_import low_light">
        {{nextImport}}
    </div>

    <div class="actions">
        <ul>
            {{#if realWorkspace}}
                {{#unless workspaceArchived}}
                    <li><a class="new_note dialog" href="#">{{t "actions.add_note"}}</a></li>
                    {{#if isChorusView}}
                        {{#unless noValidCredentials}}
                            <li><a class="create_database_view dialog" href="#">{{t "actions.create_database_view"}}</a></li>
                            {{#if currentUserCanDuplicateChorusViews}}
                                <li><a class="duplicate" href="#">{{t "dataset.chorusview.duplicate"}}</a></li>
                            {{/if}}
                        {{/unless}}
                    {{/if}}
                {{/unless}}
            {{else}}
                <li><a class="new_note dialog" href="#">{{t "actions.add_note"}}</a></li>
            {{/if}}

            {{#if canAssociate}}
                <li><a class="associate" href="#">{{t "actions.associate_with_a_workspace"}}</a></li>
            {{/if}}

            <li><a class="edit_tags">{{t "sidebar.edit_tags"}}</a></li>
            {{#unless workspaceArchived}}
                {{#if isHdfsDataset}}
                    <li><a class="edit_hdfs_dataset">{{t "actions.edit_hdfs_dataset"}}</a></li>
                {{/if}}
                {{#if canExport}}
                    {{#if importsEnabled}}
                        <li><a class="import_now dialog" href="#">{{t "actions.import_now"}}</a></li>
                        {{#if canScheduleImports}}
                          {{#if hasSchedule}}
                              <li><a class="edit_schedule dialog" data-action="edit_schedule" href="#">{{t "actions.edit_schedule"}}</a></li>
                              <li><a class="delete_schedule alert" href="#">{{t "actions.delete_schedule"}}</a></li>
                          {{else}}
                              <li><a class="create_schedule dialog" data-action="create_schedule" href="#">{{t "actions.create_schedule"}}</a></li>
                          {{/if}}
                        {{/if}}
                    {{else}}
                        <li><span class="import_now disabled">{{t "actions.import_now"}}</span></li>
                        {{#if hasSchedule}}
                            <li><span class="edit_schedule disabled">{{t "actions.edit_schedule"}}</span></li>
                            <li><span class="delete_schedule disabled" >{{t "actions.delete_schedule"}}</span></li>
                        {{else}}
                            <li><span class="create_schedule disabled">{{t "actions.create_schedule"}}</span></li>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/unless}}

            {{#if currentUserCanCreateWorkFlow}}
                <li><a class="new_work_flow">{{t "sidebar.new_work_flow"}}</a></li>
            {{/if}}

            {{#unless isHdfsDataset}}
                {{#unless noValidCredentials}}
                    {{#if listMode}}
                        <li><a class="dataset_preview" href="#">{{t "actions.dataset_preview"}}</a></li>
                    {{/if}}

                    <li><a class="download dialog" href="#">{{t "actions.download"}}</a></li>
                    {{#if canAnalyze}}
                       <li><a class="analyze" href="#">{{t "dataset.actions.analyze"}}</a></li>
                    {{/if}}
                {{/unless}}
            {{/unless}}

            {{#unless workspaceArchived}}
                {{#if isDeleteable}}<li><a href="#" class="delete_dataset alert" data-key-prefix="{{deleteMsgKey}}">{{t deleteTextKey functionCallContext=this}}</a></li>{{/if}}
            {{/unless}}
        </ul>
    </div>

    <div class="tab_control"></div>
{{/if}}
