{{#ifAll hasCredentials viewable}}
    <a class="image" href="{{url}}">
        {{#if stale}}
            <span class="fa-stack stale_dataset_marker">
              <i class="fa fa-times fa-stack-1x"></i>
              <i class="fa fa-circle-o fa-stack-2x"></i>
            </span>
        {{/if}}
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </a>
{{else}}
    <span class="image">
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}"/>
    </span>
{{/ifAll}}

{{> listItemText}}