<form>
    <label class="required">{{t "create_hdfs_dataset_dialog.mask_name"}}</label>
    <input class="name mbm" maxlength="256" value="{{objectName}}">
    <label class="required mtm">{{t "create_hdfs_dataset_dialog.file_mask"}}</label>
    <input class="file_mask" maxlength="4096" value="{{fileMask}}">

    {{formControls "edit_hdfs_dataset.submit"}}
</form>