<div class="info">
    <div title="{{fileName}}" class="file_name">{{fileName}}</div>
    <div class="last_updated">{{lastUpdatedStamp}}</div>
</div>
<div class="actions">
    <ul>
        <li><a class="associate_with_workspace">{{t "actions.associate_with_a_workspace"}}</a></li>
        {{#if canCreateExternalTable}}
            <li><a class="external_table" href="#">{{t "hdfs.create_external_table"}}</a></li>
        {{/if}}
        <li><a class="add_note" href="#">{{t "actions.add_note"}}</a></li>
    </ul>
</div>

<div class="tab_control"></div>
