<div class="left">
    <div class="hamburger">
        <i class='oi' data-glyph="menu"></i>
    </div>

    <div class="logo">
        <a href="#/"><img src="/images/light-{{brandingLogo}}" style="max-height: 35px"/></a>
    </div>
</div>

<div class="right">

    <div class="username">
        <a href="#" title="{{fullName}}">
            <span>{{displayName}}<i class="oi" data-glyph="caret-bottom"/></span>
            
        </a>
    </div>

    <div class="menu hidden popup_username">
        <ul>
            <li class='underline'>
                <a href="{{userUrl}}">
                    <div>{{t "header.your_profile"}}</div>
                </a>
            </li>
            <li>
                <a href="{{t helpLinkUrl}}" target='_blank' class='helpLink'>
                    <div>{{t "help.link"}}</div>
                </a>
            </li>
            <li class='underline'>
                <a href="#/about">
                    <div>{{t "header.about"}}</div>
                </a>
            </li>
            <li>
                <a href='#/logout'>
                    <div>{{t "header.sign_out"}}</div>
                </a>
            </li>
        </ul>
    </div>

    {{!-- <div class="gear">
        <a href="#" title=""><img src="/images/gear_menu.png"/></a>
    </div>
    <div class="menu hidden popup_gear">
        <div class="pointer"/>
        <ul>
            <li><a href="#/users">{{t "header.users_list"}}</a></li>
            <li><a href="#/workspaces">{{t "header.workspaces"}}</a></li>
            <li><a href="#/data_sources">{{t "header.data_sources"}}</a></li>
            <li><a href="#/notifications">{{t "header.notifications"}}</a></li>
            <li><a href="#/tags">{{t "header.tags"}}</a></li>
            <li><a href="#/about">{{t "header.about"}}</a></li>
        </ul>
    </div> --}}

    <div class="messages">
        <a href="#" class="notifications" title="notifications">
            <div class="lozenge {{#unless notifications.length}}empty{{/unless}}">{{notifications.pagination.records}}</div>
        </a>
    </div>
    <div class="menu hidden popup_notifications">
        <div class="notification_area">
            <ul/>
            <a class="notifications_all" href="#/notifications">{{t "notification.see_all"}}</a>
        </div>
    </div>

    {{#if advisorNow}}
        <div class="advisor_now">
            <a href="{{advisorNowLink}}" target="_blank"><img src="/images/advisor_now.png"/></a>
        </div>
    {{/if}}
</div>

<div class="search">
    <form action="#">
        <i class='oi magnifying_glass' data-glyph="magnifying-glass"/>
        <input type="text" name="search_text" placeholder="{{t "header.search.placeholder"}}" required/>
    </form>
</div>
<div class="type_ahead_result hidden"></div>
