<fieldset>
    <div class="destination">
        {{#if allowSchemaSelection}}
            <a class="select_schema">{{t "import.select_schema"}}</a>
        {{else}}
            {{t "import.destination" canonicalName=canonicalName}}
        {{/if}}
    </div>
</fieldset>

<div class="options">
    <fieldset class="new_table row">
        <input type="radio" name="imports" id="import_scheduler_new_table" checked="checked"/>
        <label class="main" for="import_scheduler_new_table">{{t "import.new_table"}}</label>
        <input type="text" class="name" name="toTable" maxlength="64"/>
    </fieldset>

    <fieldset class="existing_table row">
        <input type="radio" name="imports" id="import_scheduler_existing_table"/>
        <label class="main" for="import_scheduler_existing_table">{{t "import.existing_table"}}</label>
        <span class="dataset_picked" name="existingTableName">{{t "dataset.import.select_dataset"}}</span>
        <a href="#" class="dataset_picked hidden" name="existingTableName">{{t "dataset.import.select_dataset"}}</a>
    </fieldset>


    {{#if showSchedule}}
        <fieldset class="titled-input-group">
            <legend class="subtitle">
                Schedule
            </legend>

            <div class="row schedule_widget">
                <div class="schedule"/>
            </div>
        </fieldset>
    {{/if}}

    <fieldset class="titled-input-group">
        <legend class="subtitle">
            Options
        </legend>

        <div class="row">
            <input type="checkbox" class="truncate" name="truncate" id="import_scheduler_truncate"/>
            <label for="import_scheduler_truncate">{{t "import.truncate"}}</label>
        </div>

        <div class="row limit">
            <input type="checkbox" name="limit_num_rows" id="import_scheduler_limit_rows_existing"/>
            <label for="import_scheduler_limit_rows_existing">{{t "import.limit_rows"}}</label>
            <input class="row_limit" type="text" name="sampleCount" disabled="disabled" value="500"/>
        </div>
    </fieldset>
</div>
<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" disabled="true" tabindex="99">{{submitText}}</button>
</div>
