<div class='instance_provider data_source'>
    <div class="details">{{t "instances.list.type.data_sources"}}</div>
    <ul class="list selectable">
        {{#each dataSources}}
            <li class="instance" data-type="{{entityType}}" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasDataSources}}
        <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>

<div class="instance_provider hadoop_instance">
    <div class="details">{{t "instances.list.type.hdfs"}}</div>
    <ul class="list selectable">
        {{#each hadoop}}
            <li class="instance" data-type="{{entityType}}" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasHadoop}}
        <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>

<div class="instance_provider gnip_instance">
    <div class="details">{{t "instances.list.type.gnip"}}</div>
    <ul class="list selectable">
        {{#each gnip}}
        <li class="instance" data-type="{{entityType}}" data-instance-id="{{id}}">{{renderTemplate "instance" this}}</li>
        {{/each}}
    </ul>
    {{#unless hasGnip}}
    <div class="no_instances">{{t "instances.none"}}</div>
    {{/unless}}
</div>