<span class="spacer_left"></span>
<input type="checkbox" />
<div class="images">
    <img class="state" src="{{stateUrl}}" title="{{stateText}}"/>
    <img class="provider" src="{{providerUrl}}"/>
</div>
<div class="instance_details">
    <a class="name" href="{{showUrl}}">{{name}}</a>
    {{> itemTags}}
    <div class="description">{{description}}</div>
</div>
<span class="spacer_right"></span>
