<h1 title="{{title}}">{{title}}</h1>
<div class="item_metadata">
    {{#if frequency}}
        <span class="frequency"><strong>{{frequency}}</strong></span>
    {{/if}}

    {{#if nextRun}}
        <span class="next_run">
            <strong>{{t "job.next_run"}}:</strong>
            {{nextRun}}
        </span>
    {{/if}}
    <span class="last_run">
        <strong>{{t "job.last_run"}}:</strong>
        {{#if lastRun}}
            <a class='last_run_date' href='#'>{{lastRun}} {{t lastRunLinkKey}}</a>
        {{else}}
            -
        {{/if}}
    </span>
</div>