<div class="job action_bar {{actionBarClass}}">
    {{#if canUpdate}}
        <button class="toggle_enabled button_action right">{{t enabledButtonLabel}}</button>
        <button class="create_task button_action">{{t "actions.create_task"}}<span class="down_arrow"></span></button>
        <button class="edit_schedule button_action">{{t "job.actions.edit_job"}}</button>
    {{/if}}
</div>

<div class="hidden">
    <div class="create_task_menu">
        <ul class="run_menu">
            {{#each createActions}}
                <li>
                    <a href="#" class="{{className}}">{{text}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>