{{#if database}}
<div class="header_container">
    <label>{{t "sandbox.select.database"}}</label>
</div>
<div class="title">
    {{database.attributes.name}}
</div>
{{else}}
<div class="header_container">
    {{#if allowCreate}}
    <a class="new hidden" href="">{{t "sandbox.new.database"}}</a>
    {{/if}}
    <label class="required">{{t "sandbox.select.database"}}</label>
</div>
<div class="loading_text hidden">
    <span class="loading_spinner"></span>
</div>

<div class="unavailable">{{t "sandbox.unavailable.database"}}</div>
<div class="select_container">
    <select name="database"></select>
</div>
{{#if allowCreate}}
<div class="create_container hidden">
    <input class="name" name="databaseName" maxlength="63" placeholder="{{t "sandbox.database.name.placeholder"}}"></input>
    <a class="cancel" href="#">{{t "actions.cancel"}}</a>
</div>
{{/if}}
{{/if}}
