<div class="title">{{selectedModels.length}} {{t "sidebar.selected"}}</div>
<div class="selected_models">
    {{modelNamesList selectedModels}}
    <a class="deselect_all">{{t "sidebar.deselect_all"}}</a>
</div>
<div class="actions">
    <ul class="multiselect_actions">
        {{#each actions}}
            <li>{{{this}}}</li>
        {{/each}}
    </ul>
</div>
