<div class="title">{{t "sidebar.multiple_selected"}}</div>
<span class="count">{{selectedModels.length}} {{t "sidebar.items"}}</span>
<a class="deselect_all">{{t "sidebar.deselect_all"}}</a>
<ul class="multiselect_actions">
    {{#each actions}}
        <li>{{{this}}}</li>
    {{/each}}
</ul>
