{{#if actions}}
    <div class="panel">
        <ul>
            {{#each actions}}
                <li class="action">
                    {{#if disabled}}
                        <span class="disabled" title="{{altMessage}}">{{message}}</span>
                    {{else}}
                        <a href="#" class="{{name}}">{{message}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}