<div>
    {{t 'workspace.project.status.label'}} <a class="edit_project_status {{projectStatus}}" href="#">{{t projectStatusKey}}</a>
    {{#if latestStatusChangeActivity}}
        <i class='icon-comment-alt status_reason'></i>
    {{/if}}
</div>
<div class="milestones">
    {{t 'workspace.project.progress.label'}}
    <div class='progress_container'>
        <div class="progress {{projectStatus}}" style="width: {{milestoneProgress}}%;"></div>
    </div>
    <a class='ratio' href="{{milestonesUrl}}">{{milestoneCompletedCount}} / {{milestoneCount}}</a>
</div>
