<div class="title" title="{{t "dashboard.project_card_list.name"}}">{{t "dashboard.project_card_list.name"}}</div>
<div class="menus">
    <span>{{t "filter.show"}}</span>
    <a href="#" class="all{{#if noFilter}}{{#unless mostActive}} active{{/unless}}{{/if}}">{{t "workspace.project.filter.all"}}</a>
    <span class="separator">|</span>
    <a href="#"
       class="members_only{{#unless noFilter}}{{#unless mostActive}} active{{/unless}}{{/unless}}">{{t "workspace.project.filter.members_only"}}</a>
    <span class="separator">|</span>
    <a href="#"
       class="most_active{{#if mostActive}} active{{/if}}">{{t "workspace.project.filter.most_active"}}</a>
</div>
