<div class="menus">
    <span class="title">{{t "filter.show"}}</span>
    <a href="#" class="all{{#if noFilter}} active{{/if}}">{{t "workspace.project.filter.all"}}</a>
    <span class="separator">|</span>
    <a href="#"
       class="members_only{{#unless noFilter}} active{{/unless}}">{{t "workspace.project.filter.members_only"}}</a>
</div>

<h1 title="{{title}}">{{title}}</h1>