<li class="milestones"><a href="#/workspaces/{{id}}/milestones">{{t "workspace.milestones"}}</a></li>
<li class="jobs"><a href="#/workspaces/{{id}}/jobs">{{t "workspace.jobs"}}</a></li>
<li class="workfiles"><a href="#/workspaces/{{id}}/workfiles">{{t "workspace.workfiles"}}</a></li>
<li class="datasets"><a href="#/workspaces/{{id}}/datasets">{{t "workspace.datasets"}}</a></li>
<li class="summary"><a href="#/workspaces/{{id}}">{{t "workspace.summary"}}</a></li>
