<li class="summary">
    <a href="#/workspaces/{{id}}">
        <div class="lozenge">{{t "workspace.summary"}}</div>
    </a>
</li>

<li class="datasets">
    <a href="#/workspaces/{{id}}/datasets">
        <div class="lozenge">{{t "workspace.datasets"}}</div>
    </a>
</li>

<li class="workfiles">
    <a href="#/workspaces/{{id}}/workfiles">
        <div class="lozenge">{{t "workspace.workfiles"}}</div>
    </a>
</li>

{{#unless limitJobs}}
    <li class="jobs">
        <a href="#/workspaces/{{id}}/jobs">
            <div class="lozenge">{{t "workspace.jobs"}}</div>
        </a>
    </li>
{{/unless}}

{{#unless limitMilestones}}
    <li class="milestones">
        <a href="#/workspaces/{{id}}/milestones">
            <div class="lozenge">{{t "workspace.milestones"}}</div>
        </a>
    </li>
{{/unless}}
