{{#if models}}
   {{#each models}}
      <li data-id="{{id}}" class="tag_list_item">
          <span class="spacer_left"></span>
          <div class="name"><a href="#/tags/{{encode this.name}}">{{this.name}}</a></div>
          <div class="count">{{t "tag_list.item_count" count=this.count}}</div>
          <span class="spacer_right"></span>
       </li>
   {{/each}}
{{else}}
    <div class="no_tags">{{t "tags.none"}}</div>
{{/if}}