{{#if members}}
<div class="module_header">
    <div class="title">{{t "workspace.members.title"}}</div>
    <div class="subtitle">{{t "workspace.members_count" count=members.length}}</div>
</div>
<div class="module_content">

    <div class="members">
        
        <ul>
            {{#each members}}
            <li>
                <a href="{{showUrl}}" title="{{displayName}}"><img class="profile icon" src="{{imageUrl}}"/></a>
            </li>
            {{/each}}
        </ul>
        {{#if extra_members}}
        <a class="more_members dialog-launch" href="#">{{t "workspace.members_more" count=extra_members}}</a>
        {{/if}}
    </div>

</div>
<div class="module_bottom"></div>

{{/if}}