<img src="{{iconUrl}}" class="icon"/>
<h1 title="{{fileName}}">{{fileName}}</h1>
<textarea id="tag_editor" class='tag_editor'></textarea>
<!--<a href="#" class='edit_tags'>{{t "tags.add_tags"}}</a>-->
<a href="#" class='save_tags'>{{t "tags.save_tags"}}</a>