<form>
    <div class="girdle">
        
        <div class="form_pair">
        <label for="fileNameField" class="required">{{t "work_flows.new.filename_label"}}</label>
        <input type="text" name="fileName" id="fileNameField" placeholder="{{t 'workfiles.new.filename_placeholder'}}" maxlength="60"/>
        </div>
        
        {{#if userWillPickSchema}}

            {{formInfoBlock "work_flows.new.info"}}

			<div class="form_section">
			{{t "work_flows.new.datasources_label"}}
			</div>
            
            {{t "work_flows.new.datasources.helptext"}}

            <div class="database_picker"></div>
        {{/if}}
        
        {{> legendRequired}}

    </div>
    <!-- END girdle -->
    
    {{formControlsWithDisabledSubmit "work_flows.new_dialog.add_work_flow"}}
</form>