<span class="spacer_left"/>
<input type="checkbox"/>
<span class="image">
    <img src="{{iconUrl}}" class="profile"/>
</span>

<div class="right-of-image">
    <div class="item_name">
        <span class="name" title="{{name}}">{{name}}</span>
    </div>
    <div class="item_metadata">
        <div class="location">{{location}}</div>
        <div class="small">
            {{kaggleRank}} {{t "kaggle.competition" count=numberOfEnteredCompetitions}}
        </div>
    </div>
</div>

<span class="spacer_right"/>
