<div class='name_row'>
    <a class="project_name" href="{{showUrl}}">
        <span title="{{name}}">{{name}}</span>
    </a>
</div>

{{#if summary}}
    <div class='info_icon'>
        <i class='icon-info-sign' title="{{summary}}"></i>
    </div>
{{/if}}

<div>
    <span class="ownerlabel">{{t "workspace.owner"}}:</span>
    <a class="owner" href="{{ownerShowUrl}}">
        <span title="{{ownerName}}">{{ownerName}}</span>
    </a>
</div>

<div class='insight_zone'>
    {{#if latestInsight}}
        <div class='activity'></div>
    {{else}}
        <div class='activity space_filler'>
            <div class='text low_light'>{{t 'project_card.insight.space_filler_text'}}</div>
        </div>
    {{/if}}
</div>

{{#if hiddenInsightCount}}
    <a href="{{allInsightsRoute}}" class='all_insights'>
        {{t 'project_card.insight.all_insights' count=hiddenInsightCount}}
    </a>
{{/if}}
