<div class='name_row'>
    <a class="project_name" href="{{showUrl}}">
        <span title="{{name}}">{{name}}</span>
    </a>
</div>

{{#if summary}}
    <div class='info_icon'>
        <i class='oi icon' data-glyph="copywriting" title="{{summary}}"></i>
    </div>
{{/if}}

<div class='status'/>

<div class='insight_zone'>
    {{#if latestInsight}}
        <div class='activity'></div>
    {{else}}
        <div class='activity space_filler'>
            <div class='text low_light'>{{t 'project_card.insight.space_filler_text'}}</div>
        </div>
    {{/if}}
</div>
{{#if latestInsight}}
    <a href="{{allInsightsRoute}}" class='all_insights'>
        {{t 'project_card.insight.all_insights'}}
    </a>
{{/if}}