<div class='name_row'>
    <a class="project_name" href="{{showUrl}}">
        <span title="{{name}}">{{name}}</span>
    </a>
</div>
<div>
    <div class="data_row first">
        <div class="left_side">
            <div class="number">{{insightsCount}}</div>
            <div class="element">{{pluralize insightsCount 'dashboard.project_card_list.insight'}}</div>
        </div>
        <div class="right_side">
            <div class="number">{{workfilesCount}}</div>
            <div class="element">{{pluralize workfilesCount 'dashboard.project_card_list.workfile'}}</div>
        </div>
    </div>
    <div class="data_row last">
        <div class="left_side">
            <div class="number">{{datasetsCount}}</div>
            <div class="element">{{pluralize datasetsCount 'dashboard.project_card_list.dataset'}}</div>
        </div>
        <div class="right_side">
            <div class="number">{{membersCount}}</div>
            <div class="element">{{pluralize membersCount 'dashboard.project_card_list.member'}}</div>
        </div>
    </div>
</div>

<div class='insight_zone'>
    <div class="main_row">
        {{recentCommentsCount}} {{pluralize recentCommentsCount 'dashboard.project_card_list.comment'}} {{t 'dashboard.project_card_list.and'}} {{recentInsightsCount}} {{pluralize recentInsightsCount 'dashboard.project_card_list.insight'}}
    </div>
    <div class="sub_row">
        {{t 'dashboard.project_card_list.recent'}}
    </div>
</div>
