<div class="title">{{t "dashboard.site_snapshot.name"}}</div>
<ul>
    {{#each dataItems}}
        <li>
            <div class="square {{model}}">
                <div class="total">{{total}}</div>
                <div class="model">{{t translation count=total}}</div>
                <div class="increment">{{t "dashboard.site_snapshot.increment" inc=increment}}</div>
            </div>
        </li>
    {{/each}}
</ul>
